<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Andrew Badr</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://use.typekit.net/hla3vse.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/skeleton.css">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css">
</head>
<body>
  <header>
    <div class="container">
      <div class="row">
        <div class="six columns">
          <img src="/andrew-badr.jpg" width="160" height="160" alt="Andrew Badr">
        </div>
        <div class="content six columns">
          <h1><strong>Andrew Badr</strong> is a web developer, creative technologist, and poetry student.</h1>
          <ul class="social">
            <li><a href="https://twitter.com/andrewbadr"><i class="fa fa-2x fa-twitter"></i><br>Twitter</a></li>
            <li><a href="mailto:andrewbadr@gmail.com"><i class="fa fa-2x fa-envelope"></i><br>Email</a></li>
            <li><a href="https://github.com/reverie"><i class="fa fa-2x fa-github"></i><br>Github</a></li>
            <li><a href="https://pgp.mit.edu/pks/lookup?op=get&search=0x5491BA1031EB8F02"><i class="fa fa-2x fa-lock"></i><br>PGP</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <main class="container">
    <section class="projects-featured">
      <h2><strong>Featured Work</strong></h2>

      {% for p in featured_projects %}
      <div class="project row">
        <div class="gallery six columns" itemscope itemtype="http://schema.org/ImageGallery">
          {% for i in p.images %}
          <figure {% if not loop.first %}class="hidden" {% endif %} itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <!-- pswp does need this data-size -->
            <a href="{{ i.url }}" itemprop="contentUrl" data-size="{{ i.width }}x{{ i.height }}">
              {% if loop.first %}
              <img src="{{ p.thumb_url }}" itemprop="thumbnail" alt="Image description" />
              {% else %}
              <img src="" />
              {% endif %}
            </a>
            <!--
            <figcaption itemprop="caption description">{# i.caption #}</figcaption>
            -->
          </figure>
          {% endfor %}
        </div>
        <div class="six columns">
          {{ p.description_html|safe }}
        </div>
      </div>
      {% endfor %}
    </section>
    <section class="newsletter">
      <h2>Andrew's Updates</h2>
      <form action="https://tinyletter.com/andrewbadr" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/andrewbadr', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        <label for="tlemail">News about Deconditioning Stickers, Your World of Text, and other projects.</label>
        <input type="email" name="email" id="tlemail" placeholder="you@example.com">
        <input type="hidden" value="1" name="embed">
        <input type="submit" value="Subscribe">
      </form>
    </section>
    <section class="projects-more">
      <h2>Smaller Projects, Press, Workplaces, Affiliations</h2>
      <p>
        {% for p in small_projects %}
        {% if p.link %}<a href="{{ p.link }}">{% endif %}
        <span>
          <img src="{{ p.img_url }}">
          {{ p.text }}
        </span>
        {% if p.link %}</a>{% endif %}
        {% endfor %}
      </p>
    </section>
  </main>

  {% include "photoswipe.html" %}

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  <script src='http://photoswipe.s3-eu-west-1.amazonaws.com/pswp/dist/photoswipe.min.js'></script>
  <script src='http://photoswipe.s3-eu-west-1.amazonaws.com/pswp/dist/photoswipe-ui-default.min.js'></script>
  <script src="index.js"></script>
</body>
</html>
