<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Andrew Badr</title>
  <meta name="description" content="Andrew Badr makes technology and art in NYC, with a focus on text and interactivity.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://use.typekit.net/hla3vse.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/skeleton.css">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css">
</head>
<body>
  <header>
    <div class="container">
      <div class="row">
        <div class="six columns">
          <img src="/andrew-badr.jpg" width="160" height="160" alt="Andrew Badr">
        </div>
        <div class="content six columns">
          <h1><strong>Andrew Badr</strong> is a web developer, creative technologist, and poetry student in NYC.</h1>
          <ul class="social">
            <li><a href=""><i class="fa fa-2x fa-twitter"></i><br> Twitter</a></li>
            <li><a href=""><i class="fa fa-2x fa-github"></i><br> Github</a></li>
            <li><a href=""><i class="fa fa-2x fa-envelope"></i><br> Email</a></li>
            <li><a href=""><i class="fa fa-2x fa-lock"></i><br> PGP Key</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <main class="container">
    <section class="projects-featured">
      <h2><strong>Featured Work</strong></h2>

      {% for p in featured_projects %}
      <div class="project row">
        <div class="gallery six columns" itemscope itemtype="http://schema.org/ImageGallery">
          {% for i in p.images %}
          <figure {% if not loop.first %}class="hidden" {% endif %} itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="{{ i.size_1000_750.url }}" itemprop="contentUrl" data-size="1000x750">
              {% if loop.first %}
              <img src="{{ i.size_465_349.url }}" itemprop="thumbnail" alt="Image description" />
              {% else %}
              <img src="" />
              {% endif %}
            </a>
            <!--
            <figcaption itemprop="caption description">{{ i.caption }}</figcaption>
            -->
          </figure>
          {% endfor %}
        </div>
        <div class="six columns">
          {{ p.description_html|safe }}
        </div>
      </div>
      {% endfor %}

      <div class="project row">
        <div class="gallery six columns" itemscope itemtype="http://schema.org/ImageGallery">

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://placehold.it/1000x750" itemprop="contentUrl" data-size="1000x750">
              <img src="http://placehold.it/465x349" itemprop="thumbnail" alt="Image description" />
            </a>
            <figcaption itemprop="caption description">Image caption</figcaption>
          </figure>

          <figure class="hidden" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://placehold.it/1000x750" itemprop="contentUrl" data-size="1000x750">
              <img src="http://placehold.it/465x349" itemprop="thumbnail" alt="Image description" />
            </a>
            <figcaption itemprop="caption description">Image caption</figcaption>
          </figure>

          <figure class="hidden" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://placehold.it/1000x750" itemprop="contentUrl" data-size="1000x750">
              <img src="http://placehold.it/465x349" itemprop="thumbnail" alt="Image description" />
            </a>
            <figcaption itemprop="caption description">Image caption</figcaption>
          </figure>

          <figure class="hidden" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="http://placehold.it/1000x750" itemprop="contentUrl" data-size="1000x750">
              <img src="http://placehold.it/465x349" itemprop="thumbnail" alt="Image description" />
            </a>
            <figcaption itemprop="caption description">Image caption</figcaption>
          </figure>

        </div>

        <div class="six columns">
          <p><a href=""><strong>Deconditioning Stickers</strong></a> look like the notification symbols from Facebook, Instagram, and other apps.</p>
          <p>By sticking this imagery out of context, the deep emotional training to tap on those little numbers is undermined—or at least diverted for your amusement.</p>
        </div>
      </div>

    </section>
    <section class="newsletter">
      <h2>Andrew's Updates</h2>
      <form action="https://tinyletter.com/andrewbadr" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/andrewbadr', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        <label for="tlemail">News about Deconditioning Stickers, Your World of Text, and other projects.</label>
        <input type="email" name="email" id="tlemail" placeholder="you@example.com">
        <input type="hidden" value="1" name="embed">
        <input type="submit" value="Subscribe">
      </form>
    </section>
    <section class="projects-more">
      <h2>More Projects</h2>
      <p>
        <span>
          <img src="http://placehold.it/50x50">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </span>
        <span>
          <img src="http://placehold.it/50x50">
          In tempor justo neque, eget cursus purus facilisis ut.
        </span>
        <span>
          <img src="http://placehold.it/50x50">
          Fusce pretium dictum eleifend.
        </span>
        <span>
          <img src="http://placehold.it/50x50">
          Donec eget lectus at quam fringilla euismod.
        </span>
        <span>
          <img src="http://placehold.it/50x50">
          Vivamus felis eros, mollis ut mi nec, ornare feugiat nisi.
        </span>
      </p>
    </section>
  </main>

  <!-- Root element of PhotoSwipe. Must have class pswp. -->
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
       It's a separate element, as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

      <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
      <div class="pswp__container">
        <!-- don't modify these 3 pswp__item elements, data is added later on -->
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>

      <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
      <div class="pswp__ui pswp__ui--hidden">

        <div class="pswp__top-bar">

          <!--  Controls are self-explanatory. Order can be changed. -->

          <div class="pswp__counter"></div>

          <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

          <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

          <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
          <!-- element will get class pswp__preloader active when preloader is running -->
          <div class="pswp__preloader">
            <div class="pswp__preloader__icn">
              <div class="pswp__preloader__cut">
              <div class="pswp__preloader__donut"></div>
              </div>
            </div>
          </div>
        </div>

        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
        </button>

        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
        </button>

        <div class="pswp__caption">
          <div class="pswp__caption__center"></div>
        </div>

        </div>

      </div>

  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  <script src='http://photoswipe.s3-eu-west-1.amazonaws.com/pswp/dist/photoswipe.min.js'></script>
  <script src='http://photoswipe.s3-eu-west-1.amazonaws.com/pswp/dist/photoswipe-ui-default.min.js'></script>
  <script src="index.js"></script>
</body>
</html>
